# eclipse
*.launch
.settings/
.metadata
.classpath
.project
bin/

# idea
.idea/
*.iml
*.ipr
*.iws
out/

# gradle
build/
.gradle/
gradle/wrapper/gradle-wrapper.jar
other/

# other
run/
runs/
logs/
src/generated/

gtoregistrylib/
tterrag1098Registrate-1.21.8-dev/
.1git/
.claude/
.superpowers/

# docusaurus
website/node_modules/
website/build/
website/.docusaurus/
website/package-lock.json
.github/skills/